@page
@model My_Scripture_Journal.Pages.Scriptures.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScriptureModel.Book" class="control-label"></label>
                <input asp-for="ScriptureModel.Book" class="form-control" />
                <span asp-validation-for="ScriptureModel.Book" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScriptureModel.Chapter" class="control-label"></label>
                <input asp-for="ScriptureModel.Chapter" class="form-control" />
                <span asp-validation-for="ScriptureModel.Chapter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScriptureModel.Verse" class="control-label"></label>
                <input asp-for="ScriptureModel.Verse" class="form-control" />
                <span asp-validation-for="ScriptureModel.Verse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScriptureModel.Notes" class="control-label"></label>
                <input asp-for="ScriptureModel.Notes" class="form-control" />
                <span asp-validation-for="ScriptureModel.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScriptureModel.dateAdded" class="control-label"></label>
                <input asp-for="ScriptureModel.dateAdded" class="form-control" />
                <span asp-validation-for="ScriptureModel.dateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
