@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Scripture Journal</h1>
    <p>Here you can record notes of scriptures that you have read.</p>
</div>
